.item-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Estilos para los productos dentro del contenedor */
.product {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product p {
  font-size: 1rem;
  color: #666;
}

.category-buttons {
  margin-top: 20px;
}

.category-button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #0056b3;
}
